<%-include header.ejs %>

  <div class="container text-left">
    <div class="d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-12">
          <h2>BOOK A BOOK YOU LIKE.</h2>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam itaque quos tempore consequatur provident
            delectus maxime, voluptatum iusto recusandae dignissimos beatae ipsum porro, temporibus eaque blanditiis
            ipsam
            dolor placeat consequuntur?</P>
          <a href="/plan" class="btn btn-success">RENT</a>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <img src="/images/ThynK.png" alt="Rent your fav book" />
      </div>
    </div>

    <div class="container text-left">
      <div class="d-flex align-items-center justify-content-between">
          <h2>NEW ARRIVALS</h2>
          <a href="/novels" class="btn btn-success">Explore More</a>
          </div>
      <div class="row my-5">
          <div class="col-sm-3">
              <div class="card" style="width: 16rem;">
                <a href="/singlepage">
                  <img src="/images/all-the-bright-places.jpg" class="card-img-top" alt="all-the-bright-places">
                </a>
                  <div class="card-body">
                      <h5 class="card-title">ALL THE BRIGHT PLACES</h5>
                      <h6 class="card-subtitle mb-2 text-muted">by Jennifer Niven</h6>
                      <p class="card-text">NPR 350</p>
                      <a href="/plan" class="btn btn-primary">Rent</a>
                      <a href="#" class="btn btn-secondary">Add to Cart</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width: 16rem;">
                <a href="/singlepage">
                  <img src="/images/normal-people.jpg" class="card-img-top" alt="normal-people">
                </a>
                  <div class="card-body">
                      <h5 class="card-title">NORMAL PEOPLE</h5>
                      <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                      <p class="card-text">NPR 350</p>
                      <a href="/plan" class="btn btn-primary">Rent</a>
                      <a href="#" class="btn btn-secondary">Add to cart</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width: 16rem;">
                  <img src="/images/beautiful-world.jpg" class="card-img-top" alt="beautiful-world">
                  <div class="card-body">
                      <h5 class="card-title">BEAUTIFUL WORLD</h5>
                      <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                      <p class="card-text">NPR 450</p>
                      <a href="#" class="btn btn-primary">Rent</a>
                      <a href="#" class="btn btn-secondary">Add to cart</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card" style="width: 16rem;">
                  <img src="/images/spanish-love.jpg" class="card-img-top" alt="spanish-love">
                  <div class="card-body">
                      <h5 class="card-title">SPANISH LOVE DECEPTION</h5>
                      <h6 class="card-subtitle mb-2 text-muted">by Elena Armas</h6>
                      <p class="card-text">NPR 450</p>
                      <a href="#" class="btn btn-primary">Rent</a>
                      <a href="#" class="btn btn-secondary">Add to cart</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="container text-left">
          <div class="d-flex align-items-center justify-content-between">
          <h2>BEST SELLERS</h2>
          <a href="/used" class="btn btn-success">Explore More</a>
          </div>
          <div class="row my-5">
              <div class="col-sm-3">
                  <div class="card" style="width: 16rem;">
                      <img src="/images/all-the-bright-places.jpg" class="card-img-top"
                          alt="all-the-bright-places">
                      <div class="card-body">
                          <h5 class="card-title">ALL THE BRIGHT PLACES</h5>
                          <h6 class="card-subtitle mb-2 text-muted">by Jennifer Niven</h6>
                          <p class="card-text">NPR 350</p>
                          <a href="#" class="btn btn-primary">Rent</a>
                          <a href="#" class="btn btn-secondary">Add to Cart</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="card" style="width: 16rem;">
                      <img src="/images/normal-people.jpg" class="card-img-top" alt="normal-people">
                      <div class="card-body">
                          <h5 class="card-title">NORMAL PEOPLE</h5>
                          <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                          <p class="card-text">NPR 350</p>
                          <a href="#" class="btn btn-primary">Rent</a>
                          <a href="#" class="btn btn-secondary">Add to cart</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="card" style="width: 16rem;">
                      <img src="/images/beautiful-world.jpg" class="card-img-top" alt="beautiful-world">
                      <div class="card-body">
                          <h5 class="card-title">BEAUTIFUL WORLD</h5>
                          <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                          <p class="card-text">NPR 450</p>
                          <a href="#" class="btn btn-primary">Rent</a>
                          <a href="#" class="btn btn-secondary">Add to cart</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3">
                  <div class="card" style="width: 16rem;">
                      <img src="/images/spanish-love.jpg" class="card-img-top" alt="spanish-love">
                      <div class="card-body">
                          <h5 class="card-title">SPANISH LOVE DECEPTION</h5>
                          <h6 class="card-subtitle mb-2 text-muted">by Elena Armas</h6>
                          <p class="card-text">NPR 450</p>
                          <a href="#" class="btn btn-primary">Rent</a>
                          <a href="#" class="btn btn-secondary">Add to cart</a>
                      </div>
                  </div>
              </div>
          </div>

    <section class="px-4 py-5 my-5 text-center">
      <h2 class="display-8 fw-bold">Have old books you want to sell?</h2>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Find out our selling policies <a href="/sellform">HERE</a>.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/sellform" class="btn btn-success">FILL OUT THE FORM</a>
        </div>
      </div>
    </section>


    <%-include footer.ejs %>
       
