<%-include header.ejs %>
  
<div class="container text-left">
  <h2 class="display-8 fw-bold mt-5">NOVELS</h2>
  <div class="row my-5">
      <div class="col-sm-3">
          <div class="card" style="width: 16rem;">
            <a href="/singlepage">
              <img src="/images/all-the-bright-places.jpg" class="card-img-top" alt="all-the-bright-places">
            </a>
              <div class="card-body">
                  <h5 class="card-title">ALL THE BRIGHT PLACES</h5>
                  <h6 class="card-subtitle mb-2 text-muted">by Jennifer Niven</h6>
                  <p class="card-text">NPR 350</p>
                  <a href="/plan" class="btn btn-primary">Rent</a>
                  <a href="#" class="btn btn-secondary">Add to Cart</a>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card" style="width: 16rem;">
              <img src="/images/normal-people.jpg" class="card-img-top" alt="normal-people">
              <div class="card-body">
                  <h5 class="card-title">NORMAL PEOPLE</h5>
                  <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                  <p class="card-text">NPR 350</p>
                  <a href="/plan" class="btn btn-primary">Rent</a>
                  <a href="#" class="btn btn-secondary">Add to cart</a>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card" style="width: 16rem;">
              <img src="/images/beautiful-world.jpg" class="card-img-top" alt="beautiful-world">
              <div class="card-body">
                  <h5 class="card-title">BEAUTIFUL WORLD</h5>
                  <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                  <p class="card-text">NPR 450</p>
                  <a href="#" class="btn btn-primary">Rent</a>
                  <a href="#" class="btn btn-secondary">Add to cart</a>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card" style="width: 16rem;">
              <img src="/images/spanish-love.jpg" class="card-img-top" alt="spanish-love">
              <div class="card-body">
                  <h5 class="card-title">SPANISH LOVE DECEPTION</h5>
                  <h6 class="card-subtitle mb-2 text-muted">by Elena Armas</h6>
                  <p class="card-text">NPR 450</p>
                  <a href="#" class="btn btn-primary">Rent</a>
                  <a href="#" class="btn btn-secondary">Add to cart</a>
              </div>
          </div>
      </div>
  </div>

  <div class="container text-left">
    <div class="row my-5">
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
              <a href="/singlepage">
                <img src="/images/all-the-bright-places.jpg" class="card-img-top" alt="all-the-bright-places">
              </a>
                <div class="card-body">
                    <h5 class="card-title">ALL THE BRIGHT PLACES</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by Jennifer Niven</h6>
                    <p class="card-text">NPR 350</p>
                    <a href="/plan" class="btn btn-primary">Rent</a>
                    <a href="#" class="btn btn-secondary">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
                <img src="/images/normal-people.jpg" class="card-img-top" alt="normal-people">
                <div class="card-body">
                    <h5 class="card-title">NORMAL PEOPLE</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                    <p class="card-text">NPR 350</p>
                    <a href="/plan" class="btn btn-primary">Rent</a>
                    <a href="#" class="btn btn-secondary">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
                <img src="/images/beautiful-world.jpg" class="card-img-top" alt="beautiful-world">
                <div class="card-body">
                    <h5 class="card-title">BEAUTIFUL WORLD</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by Sally Rooney</h6>
                    <p class="card-text">NPR 450</p>
                    <a href="#" class="btn btn-primary">Rent</a>
                    <a href="#" class="btn btn-secondary">Add to cart</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 16rem;">
                <img src="/images/spanish-love.jpg" class="card-img-top" alt="spanish-love">
                <div class="card-body">
                    <h5 class="card-title">SPANISH LOVE DECEPTION</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by Elena Armas</h6>
                    <p class="card-text">NPR 450</p>
                    <a href="#" class="btn btn-primary">Rent</a>
                    <a href="#" class="btn btn-secondary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>


      <%-include footer.ejs %>
