<%-include header.ejs %>


    <div class="container">
        <h2 class="display-8 fw-bold">Selling policies</h2>
        <ul class="flex-row">
            <li>Should fill the form to sell your old boooks(Novels/Textbooks).</li>
            <li>Should make the published date visible in the photo for Textbooks category.</li>
            <li>Books should be in good condition(teared books,damaged books are not allowed).</li>
            <li>Should wait for the confirmation from us(books are selected to sell).</li>
            <li>Should wait for customer availability.</li>
        </ul>

        <p class="lead mb-4">If you are okay with above policies, feel free to fill out the form.</p>
        
        <form method="post" action="/selldata">
            <div class="form-group">
                <label>Your Name</label>
                <input type="text" class="form-control" name="name" placeholder="John Green">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="john@gmail.com">
            </div>

            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="address" placeholder="Sankhamul">
            </div>

            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" placeholder="Kathmandu">
            </div>

            <div class="form-group">
                <label>Book Name</label>
                <input type="text" class="form-control" name="bookname" placeholder="Ugly Love">
            </div>

            <label>Category</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="category" checked>
                <label class="form-check-label">
                  Novels
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="category">
                <label class="form-check-label">
                  Textbooks
                </label>
            </div>

            <div class="form-group">
                <label>Your Book price</label>
                <input type="number" class="form-control" name="price" placeholder="350">
            </div>

            <label class="form-label">Book Photos</label>
            <div class="form-control">
                <input class="form-control" type="file" name="photo" multiple>
            </div>

            <button class="btn btn-success" type="submit">SUBMIT</button>
        </div>
        </form>
    </div>

    <%-include footer.ejs %>
